##### Kaggle dataset import

In [1]:
!pip install ipython-autotime

Collecting ipython-autotime
  Downloading https://files.pythonhosted.org/packages/b4/c9/b413a24f759641bc27ef98c144b590023c8038dfb8a3f09e713e9dff12c1/ipython_autotime-0.3.1-py2.py3-none-any.whl
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from ipython-autotime) (5.5.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (1.0.18)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (5.0.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (2.6.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (53.0.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython->ipython-autotime) (0.7.0)
Installing collected packages: ipython-autotime
Successfully installed ipython-autotime-0.3.1

In [ ]:
 pip install -q kaggle

In [2]:
from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"kashish8610","key":"204e556eb356ef070db999616ee91688"}'}

In [3]:
! mkdir ~/.kaggle

In [4]:
! cp kaggle.json ~/.kaggle/

In [5]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
! kaggle datasets download -d bfinan/jokes-question-and-answer

Downloading jokes-question-and-answer.zip to /content
  0% 0.00/5.84M [00:00<?, ?B/s]
100% 5.84M/5.84M [00:00<00:00, 53.5MB/s]

In [7]:
! kaggle datasets download -d averkij/reddit-jokes-dataset

Downloading reddit-jokes-dataset.zip to /content
 42% 9.00M/21.4M [00:00<00:00, 81.6MB/s]
100% 21.4M/21.4M [00:00<00:00, 104MB/s]

In [8]:
!unzip "/content/reddit-jokes-dataset.zip"

Archive:  /content/reddit-jokes-dataset.zip
  inflating: reddit_jokes.json

In [9]:
!unzip "jokes-question-and-answer.zip"

Archive:  jokes-question-and-answer.zip
  inflating: qajokes1.1.2.csv
  inflating: t_lightbulbs.csv
  inflating: t_nosubject.csv

In [10]:
import seaborn as sns
from scipy.sparse import hstack, csr_matrix
import numpy as np
import pandas as pd

# Cleaning

In [11]:
dfShort = pd.read_csv('/content/t_lightbulbs.csv',usecols = ['Question','Answer'])

In [12]:
dfShort.head(2)

                                            Question                                             Answer
0  How many Reddit admins does it take to change ...      None, they like to keep the mods in the dark.
1  How many police officers does it take to chang...  None, because they'll just beat the room for b...

In [13]:
dfShort.shape

(2640, 2)

In [14]:
dfShort1 = pd.read_csv('/content/t_nosubject.csv',usecols = ['Question','Answer'])
dfShort1.shape

(32120, 2)

In [15]:
dfShort1.head(2)

                                            Question                               Answer
0  Did you hear about the Native American man tha...  He nearly drown in his own tea pee.
1  Did you hear about the oyster who went to the ...                  He pulled a muscle

In [16]:
dfShort2 = pd.read_csv('/content/qajokes1.1.2.csv',usecols = ['Question','Answer'])
dfShort2.shape

(75114, 2)

In [17]:
dfShort2.head(2)

                                            Question            Answer
0       What's the best anti diarrheal prescription?  Mycheexarphlexin
1  What do you call a person who is outside a doo...              Matt

In [18]:
dfReddit = pd.read_json('/content/reddit_jokes.json')
dfReddit.shape

(194553, 4)

In [19]:
dfReddit = dfReddit.drop(['id','score'],1)

In [20]:
dfReddit = dfReddit.rename(columns={'title': 'Question', 'body': 'Answer'})

In [21]:
dfReddit.head(5)

                                              Answer                                           Question
0  Now I have to say "Leroy can you please paint ...   I hate how you cant even say black paint anymore
1  Pizza doesn't scream when you put it in the ov...  What's the difference between a Jew in Nazi Ge...
2  ...and being there really helped me learn abou...                     I recently went to America....
3  A Sunday school teacher is concerned that his ...  Brian raises his hand and says, “He’s in Heaven.”
4  He got caught trying to sell the two books to ...  You hear about the University book store worke...

#Combining

In [22]:
df = pd.concat([dfShort, dfShort1,dfShort2,dfReddit], ignore_index=True)

In [23]:
df.head(2)

                                            Question                                             Answer
0  How many Reddit admins does it take to change ...      None, they like to keep the mods in the dark.
1  How many police officers does it take to chang...  None, because they'll just beat the room for b...

In [24]:
df.shape

(304427, 2)

In [25]:
df.to_csv('combined_sarcastic.csv',index=False)